<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="FakeData" version="1.0.0" targetFramework="net46" />
  <connectionStrings>
    <add name="DatabaseContext" providerName="System.Data.SqlClient" connectionString="Server=DESKTOP-04SEUSQ; Database=destekDb6; IntegratedSecurity=true"/>
  </connectionStrings>
</packages>
